.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
  padding-right: 25px;
}

label {
  padding-top: 10px;
  display: inline-block;
}

.button {
  background-color: #566359;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
