.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
  padding-right: 25px;
}

div {
  padding-top: 6px;
}

label {
  padding-top: 10px;
  display: inline-block;
}

.button {
  background-color: #566359;
  color: white;
  margin-top: 12px;
  border-radius: 12px;
  padding: 6px;
  cursor: pointer;
}

.button:hover {
  background-color: #7c8a80;
}
