<html>
  <form [formGroup] = "taskForm">
    <div class="form-group">
      <div class="col-25">
        <label for="name">
          Name
        </label>
      </div>
      <div class="col-75">
        <input type="text" id="name" formControlName="name" [value]="task.name" class="form-control">
      </div>
    </div>

    <div class="form-group">
      <div class="col-25">
        <label for="description">Description</label>
      </div>
      <div class="col-75">
        <textarea class="form-control" id="description" formControlName="description" [value]="task.description" rows="3"></textarea>
      </div>
    </div>

    <div class="form-group">
      <div class="col-25">
        <label for="dueDate">DueDate</label>
      </div>
      <div class="col-75">
        <input type="date" id="dueDate" class="form-control" formControlName="dueDate" [value]="task.dueDate" placeholder="dd/mm/yyy">
      </div>
    </div>

    <div class="form-group">
      <div class="col-25">
        <label for="username">Assigned to user</label>
      </div>
      <div class="col-75">
      <select id="username" class="form-control" formControlName="username">
        <ng-container *ngIf="componentType != ComponentType.SEARCH">
          <option value="" disabled selected>Select user</option>
        </ng-container>
        <ng-container *ngIf="componentType == ComponentType.SEARCH">
          <option value="" selected>anyone</option>
        </ng-container>
        <option *ngFor="let user of users"
                [selected]="user.username"
                [ngValue]="user.username"
                [label]="user.username">
          {{user.username}}
        </option>
      </select>
      </div>
    </div>

    <div class="form-group">
      <div class="col-25">
        <label for="status">
          Status
        </label>
      </div>
      <div class="col-75">
        <select id="status" class="form-control" formControlName="status">
            <ng-container *ngIf="componentType == ComponentType.SEARCH">
              <option value="" disabled selected>Select status</option>
              <option
                *ngFor="let status of statusValues"
                [ngValue]="status"
                [label]="status">
                {{task.status}}
               </option>
            </ng-container>

            <ng-container  *ngIf="componentType != ComponentType.SEARCH">
              <option
              *ngFor="let status of statusValues"
              [selected]="task.status == status"
              [ngValue]="status"
              [label]="status">
              {{task.status}}
              </option>
            </ng-container >
        </select>
      </div>
    </div>
    <div>
      <div [ngSwitch]="this.componentType">
        <div *ngSwitchCase="ComponentType.SEARCH">
          <button class="button" (click)="taskSearchSubmit()" type="submit">Submit</button>
        </div>

        <div *ngSwitchCase="ComponentType.EDIT">
          <button class="button" (click)="submit()" type="submit">Save</button>
        </div>

        <div *ngSwitchCase="ComponentType.NEW">
          <button class="button" (click)="submit()" type="submit">Submit</button>
        </div>

      </div>
    </div>
  </form>
</html>
