.table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
}
.table thead tr {
  background-color: #566359;
  color: #ffffff;
}
.table th,
.table td {
  padding: 12px 15px;
}
.table tbody tr {
  border-bottom: thin solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.custom-modal {
  background: black;
  padding: 3px;
  border-radius: 5px;
}

