<table class="table">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Status</th>
    <th scope="col">DueDate</th>
    <th scope="col">Description</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks">
      <td>{{task.name}}</td>
      <td>{{task.status}}</td>
      <td>{{task.dueDate|date: 'dd/MM/yyyy'}}</td>
      <td>{{task.description}}</td>
      <td>
          <button (click)="openModal(task)" >open the modal</button>
          <button (click)="editTask()">Edit</button>
          <button (click)="deleteTask()">Delete</button>

      </td>
    </tr>
  </tbody>
</table>
